<section class="hero">
	<p></p>
	<img src="/images/groomBanner.png" alt="Hero Image" />
	<a href="/about" class="btn">Learn More</a>
</section>
<section class="portfolio">
	<h2>Our Work</h2>
	<div class="cards">
		<div class="card">
			<img src="/images/groomLogo.png" alt="Project Image" />
			<h3>Project A</h3>
			<p>Project A description...</p>
		</div>
		<div class="card">
			<img src="/images/groomLogo.png" alt="Project Image" />
			<h3>Project B</h3>
			<p>Project B description...</p>
		</div>
	</div>
</section>
