<!DOCTYPE html>
<html>
	<head>
		<title>구름에 오신것을 환영합니다.</title>
		<link rel="stylesheet" href="/stylesheets/groom.css" />
	</head>
	<body>
		<header>
			<h1>구름 edu IT 교육 및 콘텐츠 회사</h1>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About Us</a></li>
					<li><a href="/services">Services</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
		</header>
		<main><%- body %></main>
		<footer>
			<p>&copy; 2024 구름 edu 콘텐츠 회사</p>
		</footer>
		<script src="/javascripts/script.js"></script>
	</body>
</html>
